.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-form {
  }

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    input {
      margin-bottom: 1em;
    }
  }

  .register-text {
    color: #ffffff;
    font-size: .6em;
    margin-top: 1em;
    text-align: right;

    a {
      color: #929aa2;
    }
  }
}

