.standardButton {
  border: none;
  text-decoration: none;
  margin-top: .5em;
  padding: .8em 1.5em;
  background-color: #b7673c;
  color: #ffffff;
  width: 100%;

  &:hover {
    background-color: #b9b0b2;
  }
}