.journal-list {
  width: 100%;

  &> * {
    border: solid 1px #ced4da;
    border-top: none;
  }

  &> *:first-child {
    border-top: solid 1px #ced4da;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &> *:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &> *:nth-child(even) {
    background: #f8f9fa;
  }

  &> *:hover {
    background: #ebebeb;
  }
}