@import "../../custom.scss";

button {
  transform: translate(0, 0) scale(1); 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  transition: all .15s ease;
  padding: .3em 1em;
  height: 2em;
  width: fit-content;
  background-color: $primary;
  color: white;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  &:hover:not(.loading):not(:disabled) {
    transform: translateY(-1px);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 3px 3px rgba(0,0,0,0.12);
    border: none;
  }

  &:disabled {
    background-color: $secondary;
    opacity: 0.5;
  }

  .lds-facebook {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
  }
}