@import '../../_settings.scss';

.journal-card {
	border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
							0 4px 4px rgba(0,0,0,0.12);

  .journal-card-chart {
    width: 100%;
    color: map-get($foundation-palette, 'secondary');
		display: flex;
		flex-direction: column;
    justify-content: center;
		text-align: center;
		
		canvas {
			background-color: lighten($medium-gray, 16%);
		}
	}

	.journal-card-content {
		padding: 2em;

		.journal-card-header {
			font-size: 1em;
			font-weight: 600;
			color: map-get($foundation-palette, 'primary');

			.journal-card-name-edit {
				margin: 0;
				input {
					height: 1.1em;
					font-size: 0.8em;
				}
			}
		}

		.journal-card-body {
			width: 100%;
			margin: 0;
			margin-bottom: 1em;

			.journal-card-details {
				margin-top: 1em;

				.journal-card-currency {
					font-size: 0.75em;
				}

				.journal-card-kind-edit {
					select {
						height: 1.1em;
						font-size: 0.8em;
					}
				}
			}

			.journal-card-details {
				color: $dark-gray;
			}
		}

		.journal-card-footer {
			width: 100%;

			.journal-card-footer-buttons {

				.journal-card-edit {
					background-color: map-get($foundation-palette, 'primary');
				}

				.journal-card-save {
					background-color: map-get($foundation-palette, 'success');
				}

				.journal-card-cancel {
					background-color: map-get($foundation-palette, 'secondary');
				}

				.journal-card-delete {
					background-color: map-get($foundation-palette, 'alert');
				}
			}
		}
	}
}