.header {
	margin-bottom: 1em;

	.navbar-brand.logo {
		margin-right: 3em;

		img {
			width: 6em;
			height: auto;
		}
	}

	.header-link {
		color: white !important;
	}

	.header-breadcrumbs {
		margin-top: 1em;

		ol {
			margin: 0;
		}
	}
}
