@import '../../_settings';
.header {
	.top-bar, {
		background-color: $black;

		.menu {
			background-color: $black;
		}
	}
	.logo {
		margin-right: 3em;

		img {
			width: 6em;
			height: auto;
		}
	}

	.header-link {
		color: white !important;
	}

	.header-breadcrumbs {
		margin-top: 1em;

		ol {
			margin: 0;
		}
	}
}
