@import "../../custom.scss";

.select-input { 
  position: relative;
  padding-top: 1.2em;
  width: 100%;

  label {
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 0) scale(1); 
    transition: transform .1s ease-in-out, color .1s ease-in-out;
    color: lighten($accent-dark, 20%);
    pointer-events: none;

    .has-label::placeholder {
      opacity: 0;
    }
  }

  select {
		box-sizing: content-box;
    border: none;
    border-bottom: solid 2px $accent-dark;
    transition: border-bottom .1s ease-in-out;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 1.8em;
  }

  &:focus-within, &.has-value {
    label {
      transform: translate(0, -1.2em) scale(.75);
      color: $accent-dark;
    }

    &::placeholder {
      opacity: 1;
    }
  }

  &:focus-within {
    label {
      color: $primary;
    }

    select {
      outline: none;
      border-bottom: solid 2px $primary;
    }
  }


  &.errors {
    label {
      color: $danger;
    }

    select {
      border-bottom: solid 2px $danger;
    }
  }
}