// @import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,700);
// @import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
$headings-font-family:Muli;

//$enable-grid-classes:false;
$primary:#1180ce;
$secondary:#999999;
$success:#3aa176;
$danger:#f44336;
$info:#1a1c29;
$warning:#b8913e;
$light:#F6F1F2;
$dark:#1A1C29;

$accent-light:#5AB8D4;
$accent-dark:#727579;
$brand:#0282C9;

$danger-light: hsl(4.1,89.6%,85%);  // $danger: hsl(4.1,89.6%,58.4%) 
$success-light: hsl(155,47%,85%);  // $success: hsl(155,47%,42.9%)

$enable-rounded: false;

// Add SASS theme customizations here..