$primary:#1180ce;
$secondary:#999999;
$success:#3aa176;
$danger:#f44336;
$info:#1a1c29;
$warning:#b8913e;
$light:#F6F1F2;
$dark:#1A1C29;

$accent-light:#5AB8D4;
$accent-dark:#727579;
$brand:#0282C9;


// Add SASS theme customizations here..