@import "./_settings";
@import "./foundation.scss";

// Global styles
html, body, [id="root"] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: $light-gray;
}

$sidebar-width: 15vw;

::-webkit-scrollbar {
	width: 0.2em;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $dark-gray;
}
.journals, .journal, .trade {
	.sidebar {
		width: $sidebar-width;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		margin-right: 2em;
		overflow: scroll;
		overflow-x: hidden;

	}

	.content {
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% - #{$sidebar-width});
		height: fit-content;
		padding: 0.5em 2em;
	}
}

.failure-text {
  color: get($foundation-palette, 'alert');
  font-size: 0.7em;
  margin-top: 1em;
}

// Confirm dialogue
.confirm-dialogue {
	background-color: $white;
	padding: 2em;
	border: solid 1px $light-gray;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
							0 4px 4px rgba(0,0,0,0.12);
}

// Loading animation
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0.93%;
  width: 20%;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 9.3%;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 40%;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 70.3%;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 9.3%;
    height: 80%;
  }
  50%, 100% {
    top: 30%;
    height: 40%;
  }
}
