@import "../../_settings.scss";

.tristate-checkbox {
  width: 1em;
  height: 1em;
  border: 1px solid #ced4da;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

  i {
    font-size: 0.75em;
    margin-top: 0.114em;
  }

  &.checked-false {
    background: map-get($foundation-palette, 'alert');;

    i {
      color: $danger-light;
    }
  }

  &.checked-true {
    background: map-get($foundation-palette, 'success');;

     i {
       color: $success-light
     }
  }
}